    <!-- About Section -->
    <section id="product" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Our Product</h2>
              <br/>
                <img src="img/porchp.jpg" height="250" width="300"> 
                <p> It is estimated that 23 million Americans have had packages stolen from their homes and that number is only estimated to go up with time. This is the problem we are going to solve. With our new and inventive product, we hope to make our customers be more at ease when they are not home to pick up a package they ordered online. Because our safety mechanism will make sure that no one will be stealing their package.</p>
                <br/>
              </div>
        </div>
    </section>
